<h1>Bienvenid@ a ManuelayManuela.com, <%= @user.name %></h1>
<p>
  Te has registrado con éxito en ManuelayManuela.com, 
  tu nombre de usuario es: <%= @user.username %>.<br>
</p>
<p>
  Para iniciar sesión, sigue este enlace: <%= @url %>.
</p>
<p>¡Gracias por unirte!. Que tengas un buen día</p>
